.env
venv
saved_gifs/
misc/
__pycache__/
notes.txt
logs/
task_admission/*.png
task_admission/test_results.txt
task_admission/plotting.py
results/

# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex*.gz
*.toc
*.lof
*.lot
*.bbl
*.blg